.nhl-playoffs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: 5px;
}
.team{
    width: 20%;
}
h3, h4{
    margin-top: 2px;
    margin-bottom: 0;
}
.table-head{
    background-color: lightgrey;
}
.winning-team{
    background-color: lightgreen;
}
.losing-team{
    background-color: lightsalmon;
}
.result-win{
    color:green;
    font-weight: 700;
}
.result-win::before{
    content:'WIN';
}
.result-loss{
    color:red;
    font-weight: 700;
}
.result-loss::before{
    content: 'LOSS';
}

@media (max-width: 450px) {
    table{
        font-size: 70%;
    }
}